/**{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}*/

/*.navbar{
	display: flex;
	align-items: center;
	padding:20px;
}*/

/*nav{
	flex: 1;
	text-align: right;
}*/

/*nav ul{
	display: inline-block;
	list-style-type: none;
}*/

/*nav ul li{
	display: inline-block;
	margin-right: 20px;
}*/

/*a{
	text-decoration: none;
	color: #555;
}*/

/*p{
	color: #555
}*/

/*.container{
	max-width: 1300px;
	margin: auto;	
	padding-left: 25px;
	padding-right: 25px;
	border-color: #ffffff;
}*/

/*.row{
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}*/

/*.col-2{
	flex-basis: 50%;
	min-width: 300px;
}*/

/*.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}*/

/*.col-2 h1{
	font-size: 50px;
	line-height: 60px;
}*/

/*.btn2{
	display: inline-block;
	background: #2838c7;
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 6px;
}*/

/*.btn2:hover{
	background: #171855;
}*/

/*.btn{
	display: inline-block;
	background: #6bb3a7;
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 6px;
}*/

/*.btn:hover{
	background: #3f6962;
}*/

/*.header{
	background: radial-gradient(#ffffff,#d6fcff6e)
}*/

/*.header .row{
	margin-top: 70px;
}*/


/*Header*/


/*.categories{
		margin: (75px,0);
}*/

/*.col-3{
	flex-basis: 30%;
	min-width: 200px;
	margin-bottom: 30px;
	padding: 50px;
}*/

/*.col-3 img{
	width: 100%;
}*/

/*.small-container{
	max-width: 1080px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}*/

/*.col-4{
	flex-basis: 25%;
	padding: 50px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}*/

/*.col-4 h4{
	margin-left: 10px;
	margin-top: 10px;
	font-weight: 800;
}*/

/*.col-4 p{
	margin-left: 10px;
	margin-top: 10px;
}*/

/*.col-4 img{
	width: 100%;
}*/

/*.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	color:#555555;
}*/


/*h4{
	color: #555555;
	font-weight: normal;
}*/

/*.col-4 p{
	font-size: 14px;	
}*/

/*.col-4:hover{
	transform: translateY(-10px);
}*/

/*.offer{
	background: radial-gradient(#ffffff,#005ef52d);
	margin-top: 80px;
	padding: 30px 0;
}*/

/*.small{
	color:#555555;
}*/









/*footer*/

/*.footer{
	background-color: #000000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p{
	color:#8a8a8a;
}


.footer h3{
	color:#ffffff;
	margin-bottom: 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;

}

.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex-basis: 1;
	text-align: center;
}

.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;
}

.app-logo img{
	width:140px;
}

.footer hr{
	border:none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}*/